.nav_menu_wrap{
    border-bottom: 2px solid black;
    background-color: lightblue;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 75px;
    max-width: 450px;
    width: 100%;
    padding: 25px 0;
    margin-left: auto;
    box-sizing: border-box;
}