.header {
  position: relative;
  display: block;
  width: 100%;
}

.header_stub {
	position: relative;
	display: block;
	height: 77px;
	width: 100%;
	top: 0;
}

.header_content {
	position: fixed;
	overflow: hidden;
	width: 100%;
	top: 0;
}